.app[data-source="Reddit"] {
  --header-background-color: hsla(206, 100%, 41%, 0.15);
  --header-border-color: hsl(206, 100%, 41%);
  --result-points-text-color: hsl(206, 100%, 41%);
}

.app[data-source="Reddit"][data-dark-mode="true"] {
  --header-background-color: hsla(203, 100%, 65%, 0.15);
  --header-border-color: hsl(203, 100%, 65%);
  --result-points-text-color: hsl(203, 100%, 65%);
}
