.header,
.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.header:empty::after,
.footer:empty::after {
  /* Prevent element from collapsing */
  content: '\200b';
  padding: 6px 0;
  visibility: hidden;
}

.header button,
.footer button  {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.header button:disabled,
.footer button:disabled {
  opacity: 0.25;
}

.header .sources > div,
.footer .pager > div {
  display: inline-block;
  padding: 6px 0;
}

.header .sources > div:not(:first-child),
.footer .pager > div:not(:first-child) {
  margin-left: 8px;
}

.header .options,
.footer .hits {
  padding: 6px 0;
}

.header .sources .active {
  border-bottom: 3px solid;
  padding-bottom: 3px;
}

.body {
  height: 425px;
  overflow-x: auto;
  padding: 6px 10px;
}

.body .message {
  padding: 18px 0;
  text-align: center;
  word-break: break-word;
}

.body .result {
  padding: 6px 0;
}

.body .result-title {
  font-size: 16px;
  margin: 0 0 4px;
}

.body .result-url {
  font-size: 12px;
  margin: 0 0 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.body .result-meta {
  font-size: 12px;
}

.body .result-meta > div {
  display: inline-block;
  margin: 2px 0 0;
}

.body .result-meta > div:not(:first-child)::before {
  content: '|';
  margin: 0 4px;
}

.body .setting {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}
