.app {
  --application-background-color: #f8f9fa;
  --application-color: hsl(0, 0%, 40%); /* 60% */
  --header-footer-box-shadow-color-hsl: 206, 6%, 25%;
  --header-background-color: hsla(0, 0%, 0%, 0.15);
  --header-border-color: hsla(0, 0%, 0%, 0.1);
  --header-color: hsl(0, 0%, 0%);
  --footer-background-color: #ffffff;
  --footer-background-image: initial;
  --footer-color: hsl(0, 0%, 0%);
  --result-title-color: hsl(0, 0%, 13%); /* 87% */
  --result-link-color: hsl(0, 0%, 62%); /* 38% */
  --result-meta-color: hsl(0, 0%, 40%); /* 60% */
  --result-points-color: var(--result-meta-color);
  background-color: var(--application-background-color);
  color: var(--application-color);
}

.header {
  background-color: var(--header-background-color);
  box-shadow: hsla(var(--header-footer-box-shadow-color-hsl), .3) 0 1px 2px 0,
              hsla(var(--header-footer-box-shadow-color-hsl), .15) 0 1px 3px 1px;
  color: var(--header-color);
}

.header button.active {
  border-bottom-color: var(--header-border-color);
}

.body a {
  color: var(--result-link-color);
}

.result-title a {
  color: var(--result-title-color);
}

.result-url a {
  color: var(--result-link-color);
}

.result-meta a {
  color: var(--result-meta-color);
}

.result-points {
  color: var(--result-points-color);
}

.footer {
  background-color: var(--footer-background-color);
  background-image: var(--footer-background-image);
  box-shadow: hsla(var(--header-footer-box-shadow-color-hsl), .3) 0 0px 2px 0,
              hsla(var(--header-footer-box-shadow-color-hsl), .15) 0 0px 3px 1px;
  color: var(--footer-color);
}

.footer a {
  color: var(--footer-color);
}
