.app {
  --primary-background-color: hsl(0, 0%, 100%);
  --primary-text-color: hsl(210, 0%, 10%);
  --body-link-color: hsl(208, 0%, 36%);
  --header-background-color: hsla(0, 0%, 0%, 0.15);
  --header-border-color: hsla(0, 0%, 0%, 0.1);
  --header-footer-box-shadow-color-hsl: 206, 6%, 25%;
  --footer-background-color: hsl(0, 0%, 100%);
  --footer-background-image: initial;
  --result-points-text-color: var(--result-meta-link-color);
  --result-title-link-color: var(--primary-text-color);
  --result-url-link-color: hsl(208, 0%, 56%);

  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.app[data-dark-mode="true"] {
  --primary-background-color: hsl(0, 0%, 12%);
  --primary-text-color: hsl(0, 0%, 80%);
  --body-link-color: hsl(208, 0%, 56%);
  --header-background-color: hsla(0, 0%, 100%, 0.15);
  --header-border-color: hsla(0, 0%, 100%, 0.1);
  --header-footer-box-shadow-color-hsl: 0, 0%, 0%;
  --footer-background-color: initial;
  --footer-background-image: linear-gradient(
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0.04)
  );
  --result-title-link-color: var(--primary-text-color);
  --result-url-link-color: hsl(208, 0%, 36%);
}

.header {
  background-color: var(--header-background-color);
  box-shadow: hsla(var(--header-footer-box-shadow-color-hsl), 0.3) 0 1px 2px 0,
    hsla(var(--header-footer-box-shadow-color-hsl), 0.15) 0 1px 3px 1px;
}

.header .sources .active {
  border-bottom-color: var(--header-border-color);
}

.body a {
  color: var(--body-link-color);
}

.body .result-title a {
  color: var(--result-title-link-color);
}

.body .result-url a {
  color: var(--result-url-link-color);
}

.body .result-points {
  color: var(--result-points-text-color);
}

.body .setting small {
  color: var(--body-link-color);
}

.footer {
  background-color: var(--footer-background-color);
  background-image: var(--footer-background-image);
  box-shadow: hsla(var(--header-footer-box-shadow-color-hsl), 0.3) 0 0px 2px 0,
    hsla(var(--header-footer-box-shadow-color-hsl), 0.15) 0 0px 3px 1px;
}
